{
  "openapi": "3.1.0",
  "info": {
    "title": "Unsiloed Parser API — v2",
    "description": "Direct upload API. The client uploads the file directly using a presigned URL — the server is never in the file transfer path. Use GET /parse/{job_id} (v1 endpoint) to poll job status.",
    "contact": {
      "name": "Unsiloed",
      "url": "https://unsiloed.ai",
      "email": "hello@unsiloed.com"
    },
    "license": {
      "name": ""
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://prod.visionapi.unsiloed.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/v2/parse/upload": {
      "post": {
        "tags": [
          "Parse v2 (Presigned Upload)"
        ],
        "summary": "POST /v2/parse/upload",
        "description": "Creates a parse job and returns a presigned S3 PUT URL.\nThe client uploads the file directly to S3 (server not involved in the transfer).\nOnce the upload completes, the system enqueues the job automatically via S3 event notification.\nPoll GET /parse/{job_id} to track progress.",
        "operationId": "create_presigned_upload",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PresignedUploadRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Upload URL created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PresignedUploadResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid file_name or unsupported file type"
          },
          "429": {
            "description": "Rate limit exceeded"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "PresignedUploadRequest": {
        "type": "object",
        "description": "Request body for POST /v2/parse/upload.\nConfiguration fields mirror the existing /parse multipart form fields.",
        "required": [
          "file_name"
        ],
        "properties": {
          "chunk_processing": {
            "description": "JSON object for chunk processing configuration."
          },
          "detect_checkboxes": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Detect checkboxes using Swin Transformer Detection API. Defaults to `false`."
          },
          "error_handling": {
            "type": [
              "string",
              "null"
            ],
            "description": "Error handling strategy: `Continue` (default) or `Fail`."
          },
          "expires_in": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int32",
            "description": "Seconds until the task and its output are deleted."
          },
          "extract_charts": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Extract structured data from charts and graphs. Defaults to `false`."
          },
          "extract_colors": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Transfer text color from the PDF text layer to OCR results. Defaults to `false`."
          },
          "extract_links": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Attach hyperlink URLs from PDF annotations to OCR results. Defaults to `false`."
          },
          "file_name": {
            "type": "string",
            "description": "File name with extension. Required. Determines content-type."
          },
          "llm_processing": {
            "description": "JSON object for LLM processing configuration."
          },
          "merge_tables": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Merge tables that span multiple pages into a single unified structure. Defaults to `false`."
          },
          "ocr_engine": {
            "type": [
              "string",
              "null"
            ],
            "description": "OCR engine: `UnsiloedBeta` (default), `UnsiloedHawk`, or `UnsiloedStorm`."
          },
          "ocr_mode": {
            "type": [
              "string",
              "null"
            ],
            "description": "OCR processing mode. `auto_ocr` (default) or `force_ocr`."
          },
          "output_fields": {
            "description": "JSON object controlling which output fields are included in the response."
          },
          "page_range": {
            "type": [
              "string",
              "null"
            ],
            "description": "Page range to process. Formats: `\"1-5\"`, `\"2,4,6\"`, `\"[1,3,5]\"`. Defaults to all pages."
          },
          "segment_processing": {
            "description": "JSON object for segment processing/analysis configuration."
          },
          "segment_type_naming": {
            "type": [
              "string",
              "null"
            ],
            "description": "Segment type naming convention: `Unsiloed` (default) or `Other`."
          },
          "segmentation_method": {
            "type": [
              "string",
              "null"
            ],
            "description": "Segmentation strategy: `smart_layout_detection` (default) or `page_by_page`."
          },
          "use_high_resolution": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Use high-resolution images for cropping and post-processing. Defaults to `true`."
          },
          "validate_segments": {
            "description": "JSON array of segment types to validate with VLM. Example: `[\"Table\",\"Formula\"]`."
          },
          "validate_table_segments": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Legacy: validate table segments using VLM. Prefer `validate_segments` instead."
          },
          "xml_citation": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Extract and hyperlink bibliography citations in the markdown output. Defaults to `false`."
          }
        }
      },
      "PresignedUploadResponse": {
        "type": "object",
        "description": "Response from POST /v2/parse/upload.",
        "required": [
          "job_id",
          "upload_url",
          "expires_at",
          "upload_method",
          "upload_headers"
        ],
        "properties": {
          "expires_at": {
            "type": "string",
            "description": "RFC 3339 timestamp when upload_url expires."
          },
          "job_id": {
            "type": "string",
            "description": "Use this ID to poll GET /parse/{job_id} for status."
          },
          "upload_headers": {
            "type": "object",
            "description": "Headers the client MUST include in the PUT request.",
            "additionalProperties": {
              "type": "string"
            },
            "propertyNames": {
              "type": "string"
            }
          },
          "upload_method": {
            "type": "string",
            "description": "Always \"PUT\"."
          },
          "upload_url": {
            "type": "string",
            "description": "S3 presigned PUT URL. Valid until expires_at."
          }
        }
      }
    },
    "securitySchemes": {
      "api_key": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key for authentication. Use 'Bearer <your_api_key>'"
      }
    }
  },
  "tags": [
    {
      "name": "Parse v2 (Presigned Upload)",
      "description": "Direct upload — no server buffering"
    }
  ]
}